<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style/FAQ.css">
</head>
<body>
    <header class="bg-light header">
        <nav class="menu">
            <img src="../img/logo.png" alt="logo" width="65" height="65">

            <ul class="ativo">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="FAQ.html">FAQ</a></li>
                <li><a href="localização.html">Localização</a></li>
                <li><a href="contato.html">Contato</a></li>      
            </ul>
        </nav><!-- menu -->
    </header>
</body>

<body>
    <h2>Que cuidados devemos ter ao adquirir um animal de estimação?</h2>

    <p>– Dê preferência por comprar um filhote diretamente do canil ou do criador, pois é uma oportunidade de se conhecer os pais, os irmãos da mesma ninhada ou de ninhadas anteriores, e observar as condições de higiene e manejo do local (alimentação, tipo de canil, estado nutricional ds animais, etc).

        – Observe, se for macho, se os dois testíulos são palpáveis e estão na bolsa escrotal. A ausência de 1 ou dos 2 testículos
        é congênita, e pode ocasionar problemas futuros.
        
        – Observe a cor da gengiva dos filhotes (deve ser rosa) e o estado geral da pelagem. A presença de caspa, falhas na pelagem, pulgas, carrapataos, piolhos deve ser verificada. O pêlo deve ser brilhante e firmemente aderido.
        
        – Observe se o filhote se coça em excesso.
        
        – Pergunte sobre a mãe, o pai e antecedentes mais distantes. Doenças como sarna negra (ou demodécica) e atopia canina (alergia a inalantes) são congêntias (transmitidas geneticamente).
        
        – Exija o atestado de displasia coxo-femural negativo dos pais (no caso de raças de porte médio ou grande que são as mais
        predispostas).
        
        – É ideal que o primeiro banho seja dado somente após a primeira vacina múltiplas (V8 ou V10 no caso dos cães
        e V4 nos gatos), sempre com água morna e corrente, sabonete ou xampus neutros, protegendo as orelhas com algodão hidrófobo ou parafinado. Evite correntes de ar e procure dar o banho no horário mais quente do dia. Seque com toalha ou com secador morno. Os felinos não necesitam de banhos frequentes, a não ser que venham apresentar algum problema de pele.
    </p>      
    <hr>
    <h2>Com que frequência devo banhar meu animal?</h2>

    <p>Existem várias consequências para o meio ambiente: prejuízos para os ecossistemas marinhos, 
        principalmente desequilíbrio ecológico, contaminação de peixes e outros animais marinhos que 
        serão consumidos por pessoas, mortes de pássaros que se alimentam de peixes contaminados, 
        águas das praias tornam-se impróprias para o banho, alta mortalidade, dependendo da poluição, 
        de espécies animais marinhas, degradação de regiões de mangues
    </p>
    <hr>
    <h2>Que doenças de pele são transmitidas do animal ao homem?</h2>

    <p>Existem várias consequências para o meio ambiente: prejuízos para os ecossistemas marinhos, 
        principalmente desequilíbrio ecológico, contaminação de peixes e outros animais marinhos que 
        serão consumidos por pessoas, mortes de pássaros que se alimentam de peixes contaminados, 
        águas das praias tornam-se impróprias para o banho, alta mortalidade, dependendo da poluição, 
        de espécies animais marinhas, degradação de regiões de mangues
    </p>
    <hr>
    <h2>Quais os melhores produtos para banhar meu animal?</h2>

    <p>Existem várias consequências para o meio ambiente: prejuízos para os ecossistemas marinhos, 
        principalmente desequilíbrio ecológico, contaminação de peixes e outros animais marinhos que 
        serão consumidos por pessoas, mortes de pássaros que se alimentam de peixes contaminados, 
        águas das praias tornam-se impróprias para o banho, alta mortalidade, dependendo da poluição, 
        de espécies animais marinhas, degradação de regiões de mangues
    </p>

    <hr>
    <h2>Como devo limpar a orelha do meu animal?</h2>

    <p>Existem várias consequências para o meio ambiente: prejuízos para os ecossistemas marinhos, 
        principalmente desequilíbrio ecológico, contaminação de peixes e outros animais marinhos que 
        serão consumidos por pessoas, mortes de pássaros que se alimentam de peixes contaminados, 
        águas das praias tornam-se impróprias para o banho, alta mortalidade, dependendo da poluição, 
        de espécies animais marinhas, degradação de regiões de mangues
    </p>
    <hr>
    <h2>CCom que frequência os cães trocam de pêlo?</h2>

    <p>Existem várias consequências para o meio ambiente: prejuízos para os ecossistemas marinhos, 
        principalmente desequilíbrio ecológico, contaminação de peixes e outros animais marinhos que 
        serão consumidos por pessoas, mortes de pássaros que se alimentam de peixes contaminados, 
        águas das praias tornam-se impróprias para o banho, alta mortalidade, dependendo da poluição, 
        de espécies animais marinhas, degradação de regiões de mangues
    </p>

    <img src="../img/Untitled.jpeg" alt="cuidados">

</body>
</html>