<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style/servicos.css">
</head>
<body>
    <header class="bg-light header">
        <nav class="menu">
            <img src="../img/logo.png" alt="logo" width="65" height="65">

            <ul class="ativo">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="FAQ.html">FAQ</a></li>
                <li><a href="localização.html">Localização</a></li>
                <li><a href="contato.html">Contato</a></li>      
            </ul>
        </nav><!-- menu -->
    </header>
    <main>
        <section>
            <h1>Nossos Serviços</h1>

            <h2>Consultas de Rotina:</h2>

            <p>Exames de saúde de rotina para animais de estimação, incluindo avaliações físicas, verificações de vacinação, orientação sobre cuidados preventivos, nutrição e bem-estar.
            </p>      
            <br>
            <h2>Vacinações:</h2>
        
            <p>Administração de vacinas para prevenir doenças comuns em animais, como raiva, parvovirose, cinomose, entre outras.
            </p>
            <br>
            <h2>Cirurgias:</h2>
        
            <p>Realização de cirurgias de rotina, como castração/esterilização, e cirurgias mais complexas, como correção de fraturas, remoção de tumores, cirurgias de órgãos internos, entre outras.
            </p>
            <br>
            <h2>Exames de Diagnóstico:</h2>
        
            <p>Realização de exames laboratoriais, como hemogramas, testes de função renal e hepática, além de exames de imagem, como radiografias e ultrassonografias, para diagnóstico de doenças.
            </p>
        
            <br>
            <h2>Cuidados Dentários:</h2>
        
            <p>Limpeza dentária, extração de dentes e tratamento de problemas odontológicos em animais de estimação
            </p>
            <br>
            <h2>Cuidados de Internamento:</h2>
        
            <p>Atendimento e cuidados intensivos para animais doentes que precisam de acompanhamento constante.
            </p>
        </section>    
    </main>
</body>
</html>