<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/sobre.css">
    <title>GrandeOrvalho</title>
</head>
<header>
    <nav class="menu">
        <img src="../img/logo.png" alt="logo" width="65" height="65">
        <ul class="ativo">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="FAQ.html">FAQ</a></li>
            <li><a href="localização.html">Localização</a></li>
            <li><a href="contato.html">Contato</a></li>    
        </ul>
    </nav><!-- menu -->
</header>
<body>
    <h1>Sobre</h1>
    <br>
    <p> Serviço para uma clínica veterinaria chamada de Grande Orvalho.</p>
    <hr>
    <br>
    <p>Havia uma pequena cidade chamada Valedouro, cercada por montanhas cobertas de vegetação exuberante e rios cristalinos que cortavam a paisagem. No coração de Valedouro, erguia-se uma clínica veterinária chamada "GrandeOrvalho". A clínica era conhecida em toda a região por sua dedicação ao bem-estar dos animais e por sua equipe apaixonada de veterinários.

        A Dra. Clara GrandeOrvalho fundou a clínica muitos anos atrás, inspirada por sua profunda ligação com os animais desde a infância. Ela cresceu em uma fazenda nos arredores da cidade e passou seus primeiros anos cuidando de todos os tipos de animais, desde cavalos até galinhas. Essa paixão a levou a estudar veterinária e, finalmente, a abrir sua própria clínica.
        
        A clínica "GrandeOrvalho" tinha uma reputação impecável. Oferecia serviços de veterinária de alta qualidade, desde consultas de rotina até cirurgias complexas. Mas o que a tornava verdadeiramente especial era o amor e a compaixão que a equipe demonstrava por cada animal que entrava por suas portas.
        
        Um dos casos mais memoráveis da clínica foi o de um cachorro chamado Max. Max era um pastor alemão resgatado de um abrigo local, que chegou à clínica gravemente ferido e traumatizado. Ele havia sofrido maus-tratos antes de ser resgatado, e sua confiança nas pessoas estava quebrada. No entanto, a equipe da "GrandeOrvalho" não desistiu dele.
        
        A Dra. Clara trabalhou incansavelmente para curar as feridas de Max, tanto físicas quanto emocionais. Ela e sua equipe passaram horas acalmando-o e reconstruindo sua confiança. Com paciência e amor, Max começou a se recuperar. Eventualmente, ele se tornou o mascote da clínica, oferecendo conforto e alegria a todos que o visitavam.
        
        A clínica "GrandeOrvalho" também se envolveu na comunidade de Valedouro, oferecendo palestras educacionais sobre cuidados com animais de estimação e promovendo campanhas de adoção responsável. Eles se tornaram parte integrante da cidade, conhecidos por seu compromisso em melhorar a vida dos animais e educar as pessoas sobre a importância do respeito aos animais.</p>

</body>
</html>


